<?php
/**
 * Created by PhpStorm.
 * User: inle
 * Date: 17.04.17
 * Time: 14:49
 */

/** @var INLE_FbWidget_Model_Resource_Image_Collection $banners */

foreach ($banners as $banner) :

    /** @var INLE_FbWidget_Model_Image $banner */
    $alt = $banner->getData('title');
    $src = $banner->getImage();
    $link = $banner->getData('banner_url');
    echo "<a href='{$link}' target='_blank'><img src='{$src}' alt='{$alt}'></a><hr>";

endforeach;
?>
